<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Password Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <!-- Bootstrap 3 CSS -->
    <link href="/linker/styles/bootstrap.min.css" rel="stylesheet" />

    <!-- Eternity Login , Registration & Forgot Password Forms CSS -->
    <link href="/linker/styles/forms.css" rel="stylesheet" />

    <!-- Modenizer -->
    <script src="/linker/js/lib/modernizr.js"></script>

    <!-- Animations CSS -->
    <link href="/linker/styles/animate.min.css" rel="stylesheet" />

    <!-- Font Icons -->
    <link href="/linker/styles/font-awesome.min.css" rel="stylesheet" />

    <!-- Google Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="title">
    Beepe
</div>
<div class="container eternity-form">
    <div class="forgot-password-section animated bounceInLeft">
        <div class="section-title">
            <h3>Forget Password</h3>
        </div>
        <div class="forgot-content">
            <form method="POST" action="/forgetpassword">
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                        <input type="email" name="email" class="form-control " placeholder="Email Id" required="required" />
                    </div>
                </div>
                <div class="forget-form-action clearfix">
                    <a href="/" class="beepe-blue">
                        Sign in
                    </a>
                    <button type="submit" class="btn pull-right beepe">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
<br />
<br />
<br />


<!-- Jquery   -->
<script src="/linker/js/lib/jquery/jquery-1.9.1.min.js"></script>

<!-- PlaceHolder For Older Browsers -->
<script src="/linker/js/lib/placeholders.min.js"></script>

<!-- Custom Checkbox PLugin -->
<script src="/linker/js/lib/jquery/jquery.icheck.js"></script>

<!-- Media Query Support For Older Browsers [Ie 8 & lower] -->
<script src="linker/js/lib/respond.min.js"></script>



<!-- For Initializing Checkbox And Focus Event For Textbox -->
<script type="text/javascript">
    $(function () {

        //Custom Checkbox For Light Theme
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });


        //Custom Checkbox For Dark Theme
        $(".dark input").iCheck({
            checkboxClass: 'icheckbox_polaris',
            increaseArea: '20%'
        });


        //TextBox Focus Event
        $(".form-control").focus(function () {
            $(this).closest(".textbox-wrap").addClass("focused");
        }).blur(function () {
                    $(this).closest(".textbox-wrap").removeClass("focused");
                });

    });
</script>
</body>
</html>